<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jiangbyte.app.base.auths.group.mapper.AuthsGroupMapper">

    <select id="selectGroupsByAccountId" resultType="io.jiangbyte.app.base.auths.group.entity.AuthsGroup">
        SELECT DISTINCT ag.*
        FROM auths_group ag
                 JOIN auths_account_group aag ON ag.id = aag.group_id
        WHERE aag.account_id = #{accountId}
          AND ag.is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND ag.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
</mapper>
